body {
    margin: auto;
    width: 640px; 
    padding: 50px; 
        }
img {
    padding: 10px; 
    margin: auto;
    border: 5px solid #555;
    
  }

  .center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }