.cat-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.cat-item {
    border: 1px solid #D2B48C;
    padding: 20px;
    text-align: center;
}

.cat-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.cat-item h2 {
    margin-bottom: 10px;
}

.cat-item p {
    margin: 5px 0;
}

header {
    text-align: center;
    background-color: #F5F5DC;
    padding: 20px;
}

header h1 {
    color: #D2B48C;
    font-size: 2em;
}

header p {
    color: #FFF8DC;
    font-size: 1.2em;
}
