.box1 {
  background-color: #D2B48C;
  border: 2px solid #BC8F8F;
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 10px auto;
}

.box2 {
  background-color: #CDB79E;
  border: 5px solid #996B4A;
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 10px auto;
}

.box3 {
  background-color: #D2B48C;
  border: 10px solid #8B4513;
  width: 200px;
  height: 150px;
  padding: 20px;
  margin: 10px auto;
}
